@import 'src/utils/assets';

.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
  overflow: hidden auto;

  .buttonBack {
    flex-shrink: 0;

    display: flex;
    align-items: center;

    & > * + * {
      margin-left: 10px;
    }

    font-size: 12px;
    font-weight: 700;
    color: $gray2;

    margin: 16px 16px 8px;
  }

  .title {
    flex-shrink: 0;

    margin: 0 16px 16px;

    font-size: 30px;
    font-weight: 500;
    color: $font_blue;
  }

  .mainTabs {
    flex-shrink: 0;

    & > div:first-child > div:first-child {
      & > div {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: stretch;

        & > div {
          justify-content: center;
          margin: 0;

          font-size: 26px !important;
          font-weight: 500;
          color: $gray2;
        }
      }
    }
  }

  .tabs {
    flex-shrink: 0;

    :global .ant-tabs-nav {
      padding: 0 12px;
    }

    :global .ant-tabs-nav-list {
      :global .ant-tabs-tab-active > .ant-tabs-tab-btn {
        color: $pumpkin;
      }

      :global .ant-tabs-tab-btn {
        font-weight: 700;
        color: $gray2;
      }

      :global .ant-tabs-ink-bar {
        background: $pumpkin;
      }
    }
  }

  .mark {
    flex-shrink: 0;

    margin-bottom: 16px;
    padding: 8px 12px;

    background-color: $light_blue;

    font-size: 10px;
    color: $font_blue;

    @media (max-width: $mobile_breakpoint) {
      margin: 0;
    }
  }

  .buttonShow {
    flex-shrink: 0;

    width: min-content;
    margin: 0 0 16px 16px;

    font-weight: 700;

    @media (max-width: $mobile_breakpoint) {
      height: 70px;
      width: 100%;
      margin: 0;
    }
  }
}

.loader {
  flex-grow: 1;
  height: 100px !important;
}
