@import 'src/utils/assets';

.container {
  height: 100vh;
  max-width: 910px;
  padding: 16px;

  .buttonBack {
    margin-bottom: 10px;
  }

  .buttonShow {
    @media (max-width: $mobile_breakpoint) {
      width: 100%;
    }
  }

  .title {
    display: flex;
    align-items: center;

    flex-wrap: wrap;

    margin-bottom: 10px;

    & > *:not(:last-child) {
      margin-right: 16px;
    }

    & > span {
      font-size: 32px;
      color: $font_blue;
    }
  }

  .tab {
    color: orange;
    font-size: 24px;
  }

  .mark {
    margin-bottom: 16px;
    padding: 16px 24px;

    background-color: $light_blue;

    font-size: 14px;
    color: $font_blue;
  }
}
