$font_blue: #215575;
$light_blue: #edfcff;
$blue: #23a8f8;
$gray1: #c9d3e1;
$gray2: #93a1ba;
$pumpkin: #d7a350;

$mobile_breakpoint: 600px;
$breakpoint: 900px;

.clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.noClickable {
  cursor: default;
  &:hover {
    opacity: 1;
  }
}
