@import 'src/utils/assets';

$h_row: 50px;
$w_first_call: 150px;
$w_timeline_call: 60px;

.container {
  padding: 8px;
  color: $font_blue;
}

.timeline {
  display: grid;
  grid-template-columns: repeat(11, $w_timeline_call);
  grid-auto-flow: column;
  grid-column-gap: 5px;
}

.header_timeline {
  @extend .timeline;

  position: relative;

  .time {
    & > span {
      position: relative;
      right: -8px;
    }

    position: relative;
    text-align: right;

    &::before {
      position: absolute;
      right: -4px;
      bottom: -14px;
      display: block;
      content: '';
      background-color: $gray1;

      width: 3px;
      height: 14px;
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      left: 50%;
      bottom: -14px;
      display: block;
      content: '';
      background-color: $gray1;

      width: 3px;
      height: 9px;
      border-radius: 2px;
    }
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: -14px;
    display: block;
    content: '';
    background-color: $gray1;

    width: 3px;
    height: 14px;
    border-radius: 2px;
  }
}

.table {
  position: relative;
  display: grid;
  grid-template-columns: $w_first_call max-content;

  &::before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: calc(#{$w_first_call} + 100px);

    width: 4px;
    height: 80%;
    background-color: white;
  }

  & > div {
    & > .row {
      padding: 10px 0;
    }

    & > * + * {
      border-top: 1px solid $gray1;
    }
  }

  @media (max-width: $breakpoint) {
    grid-template-columns: $w_first_call 1fr;

    & > .timelines {
      overflow-x: auto;

      .row {
        width: max-content;
      }
    }
  }

  .row {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;

    height: $h_row;

    .label {
      font-weight: 700;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .timeline {
      height: 30px;

      .item {
        height: 100%;
        background-color: $gray1;
      }

      .working {
        background-color: $blue;
      }

      .lunch {
        background-color: $pumpkin;
      }
    }
  }
}
