@import 'src/utils/assets';

$h_row: 50px;
$w_first_call: 150px;

.container {
  padding: 8px;
  color: $font_blue;
}

.header_timeline {
  position: relative;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5px;

  height: 40px;
  margin-left: $w_first_call;

  .time {
    & > span {
      position: relative;
      right: -8px;
    }

    position: relative;
    text-align: right;

    &::before {
      position: absolute;
      right: -4px;
      bottom: 0;
      display: block;
      content: '';
      background-color: $gray1;

      width: 3px;
      height: 14px;
      border-radius: 2px;
    }

    &::after {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: block;
      content: '';
      background-color: $gray1;

      width: 3px;
      height: 9px;
      border-radius: 2px;
    }
  }

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    background-color: $gray1;

    width: 3px;
    height: 14px;
    border-radius: 2px;
  }
}

.table {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: $h_row;

  & > div {
    padding: 10px 0;
  }

  & > * + * {
    border-top: 1px solid $gray1;
  }

  .row {
    display: grid;
    grid-template-columns: $w_first_call 1fr;
    align-content: center;

    .label {
      font-weight: 700;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .timeline {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 5px;

      .item {
        height: 100%;
        background-color: $gray1;
      }

      .working {
        background-color: $blue;
      }
    }
  }
}
