@import 'src/utils/assets';

$h_row: 50px;
$w_first_call: 140px;
$w_timeline_call: 42px;

.tableOverflow {
  flex-grow: 1;
  overflow-y: auto;
}

.timelineUpright {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    content: '';
    bottom: 0;
    left: calc(#{$w_first_call} + 68px);
    z-index: 10;

    width: 3px;
    height: calc(100% - 30px);
    background-color: $light_blue;
  }
}

.table {
  max-width: 100vw;

  :global .ant-table-cell {
    padding: 0;
  }

  :global .ant-table-thead > tr > th {
    background-color: white;
  }

  :global .ant-table-body {
    scroll-behavior: smooth;
  }

  :global .ant-table-sticky-scroll {
    display: none;
  }
}

.row {
  height: $h_row;
  padding: 10px 0;
}

.label {
  @extend .row;
  @extend .clickable;

  display: grid;
  grid-template-columns: 1fr;
  align-content: center;

  width: $w_first_call;

  padding-left: 8px;
  padding-right: 4px;

  font-weight: 700;
  color: $font_blue;

  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.timeline {
  @extend .row;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: $w_timeline_call;
  grid-column-gap: 6px;

  width: max-content;

  padding: 10px 0 10px 24px;

  .item {
    background-color: $gray1;

    &Working {
      background-color: $blue;
    }

    &Lunch {
      background-color: $pumpkin;
    }
  }
}

.headerTimeline {
  @extend .timeline;

  padding: 0;
  height: 30px;

  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  color: $gray1;

  &Empty {
    @extend .headerTimeline;
    @extend .noClickable;

    position: sticky;
    top: 0;
    background-color: white;

    width: 100%;
    transform: none;
  }
}
